<div class="footer">
    <div class="category-container">
        <div>
            <p class="text-dark">Catégorie 1</p>
            <p>item 1</p>
            <p>item 2</p>
            <p>item 3</p>
            <p>item 4</p>
        </div>
    
        <div>
            <p class="text-dark">Catégorie 2</p>
            <p>item 1</p>
            <p>item 2</p>
            <p>item 3</p>
            <p>item 4</p>
        </div>
    
        <div>
            <p class="text-dark">Catégorie 3</p>
            <p>item 1</p>
            <p>item 2</p>
            <p>item 3</p>
            <p>item 4</p>
        </div>
    
        <div>
            <p class="text-dark">Catégorie 4</p>
            <p>item 1</p>
            <p>item 2</p>
            <p>item 3</p>
            <p>item 4</p>
        </div>
    </div>

    <div class="brand-container">
        <div class="logo-container"> 
            <img src="assets/images/LOGO.jpg" alt="">
            <p class="mb-0 branding">Branding</p>
            <div class="vertical-bar-logo"></div>
            <p class="mb-0 jesper">JESPER</p>
        </div>

        <div class="signature">
            <p>© 2024 JESPER. Tout droits réservés.</p>
        </div>
    </div>
    
</div>