
.navbar {
  border-bottom: 1px solid #D5D8EA;
  border-top: 1px solid #D5D8EA;
  margin-top: 1vh;
  background-color: white;
}

.custom-logo .custom-text {
  font-size: 16px;
}

.custom-logo img {
  margin-right: 11px;
}

.vertical-bar {
  border-left: 1px solid #D5D8EA;
  height: 35px;
  margin: 0 10px;
}

.vertical-bar-logo {
  border-right: 1px solid #D5D8EA;
  height: 35px;
  margin: 0 20%;
}

.navbar-brand.custom-logo {
  display: flex;
  align-items: center;
}


.app-blue-button, .app-white-button {
  display: inline-block;
  margin-left: 16px;
  font-size: 12px;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.dropdown-toggle:active,
.dropdown-toggle:focus,
.dropdown-toggle:focus-within {
  color: #33B2E9;
}

.nav-link:active {
  color: #33B2E9;
}

.dropdown-item:hover {
  background-color: #DEF3FB;
}

.dropdown-menu .dropdown-item {
  padding: 10px 20px;
}

.dropdown-menu {
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: calc(100% + 13px);
  left: 0;
  padding: 0;
  width: 130%;
  height: auto;
}

.navbar-nav .nav-link,
  .navbar-brand .custom-text,
  .dropdown-item, .app-blue-button, .app-white-button {
    font-size: 15px;
  }

.nav-link-gap {
  margin-left: 20px; // pour rendre responsive la réduction de la nav bar avec Notre équipe
}

.icons {
  display: none;
}


@media (max-width: 768px) { /* Changer la valeur en fonction de vos besoins */
  .navbar-nav {
    display: flex;
    align-items: center;
  }

  .nav-item {
    display: none; /* Cacher tous les éléments de navigation par défaut */
  }

  .nav-item:last-child {
    display: flex; /* Afficher uniquement le dernier élément, qui contient les icônes mat-icon */
  }
  
  .icons {
    display: flex;
    font-size: 25px;
  }

  .icons a {
    text-decoration: none;
    color: #33B2E9;
  }

  .login-icon {
    margin-right: 15px;
  }
}