.light-button {
    background-color: #DEF3FB;
    width: 169px;
    height: 40px;
    border-radius: 6px;
    color: #33B2E9;
    border: none;
  }
  
  .light-button:active {
    background-color: white;
    color: #33B2E9;
  }