<div class="banner-wrapper">

    <div class="title-container">
        <p>Quelle type de simulation choisir ?</p>
    </div>

    <div class="global-container">
        <div class="img-container">
            <img src="assets/images/Group.png" alt="">
        </div>
        
        <div class="right-container">
            <div class="options-container">
                <app-simulation-card>
                    <p title>Simulation rapide</p>
                    <img image1 src="assets/images/check-circle.png" alt="">
                    <img image2 src="assets/images/check-circle.png" alt="">
                    <img image3 src="assets/images/x-circle.png" alt="">
                    <img image4 src="assets/images/x-circle.png" alt="">
                    <img image5 src="assets/images/x-circle.png" alt="">
                    <app-light-button btn>Démarrer</app-light-button>
                </app-simulation-card>
        
                <app-simulation-card>
                    <p title>Simulation complète</p>
                    <img image1 src="assets/images/check-circle.png" alt="">
                    <img image2 src="assets/images/check-circle.png" alt="">
                    <img image3 src="assets/images/check-circle.png" alt="">
                    <img image4 src="assets/images/check-circle.png" alt="">
                    <img image5 src="assets/images/check-circle.png" alt="">
                    <app-light-button btn>Se créer un compte</app-light-button>
                </app-simulation-card>
            </div>
            
            <div class="rgpd-container">
                <div class="title-rgpd">
                    <img src="assets/images/light-bulb.png" alt="">
                    <p>Pourquoi avons-nous besoin de ces informations ?</p>
                </div>
                <div class="text-rgpd">
                    <p>Afin de pouvoir vous fournir des résultats de simulation les plus sur mesure pour votre projet, certaines informations personnelles sont indispensables, car elles permettent d’évaluer votre dossier de manière précise.</p>
                </div>
                <div class="text-rgpd">
                    <p class="m-0 fw-bold pb-1">100% transparent</p>
                    <p class="m-0 pb-1">Nos engagements pour vos données personnelles</p>
                    <p class="m-0">Laius RGPD</p>
                </div>
                <div class="btn-container">
                    <app-light-button>En savoir plus</app-light-button>
                </div>
            </div>
        </div>
    </div>
</div>

