<div class="home-wrapper">
  <div class="welcome-wrapper">
    <app-welcome-panel class="item1"></app-welcome-panel>
    <app-image-panel class="item2"></app-image-panel>
  </div>
  
  <div class="slogan-wrapper">
    <app-slogan-banner class="item3"></app-slogan-banner>
  </div>
  
  <div class="situation-wrapper">
    <app-situation-banner class="item4"></app-situation-banner>
  </div>

  <div class="simulation-type-wrapper">
    <app-simulation-type-banner></app-simulation-type-banner>
  </div>
</div>

