.dark-blue-button {
  background-color: #33B2E9;
  width: 145px;
  height: 40px;
  border-radius: 6px;
  color: white;
  border: none;
}

.dark-blue-button:active {
  background-color: white;
  color: #33B2E9;
}
