<div class="container">
  <h1>Bienvenue sur STRATÈGE</h1>
  <h2>L`immobilier malin et durable qui vous accompagne de A à Z, dès la première seconde et durant toute la vie de vos projets.</h2>
  <p>Nous vous proposons des simulations rapides et personnalisées pour vous aider dans votre recherche d’investissement. Grâce à notre outil intuitif, vous pouvez rapidement estimer vos mensualités de crédit, découvrir votre capacité d'emprunt, et explorer différentes options de financement. Notre objectif est de vous offrir une expérience fluide et transparente, vous permettant de prendre des décisions éclairées en toute confiance. Essayez notre simulateur dès maintenant pour démarrer votre projet immobilier en toute sérénité.</p>
  <div>
    <app-blue-button>Démarrez, c'est rapide</app-blue-button>
  </div>
</div>
