.white-button {
  background-color: white;
  width: 121px;
  height: 40px;
  border-radius: 6px;
  color: #33B2E9;
  border: 1px solid #33B2E9;
}

.white-button:active {
  background-color: #33B2E9;
  color: white; // test
}
