.side-bar {
    padding-left: 3vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-right: 8vh;
    font-size: 16px;
}

.sub-container {
    border-bottom: 1px solid #D5D8EA;
}

.side-bar a {
    color: black;
}

.side-border {
    border-top: 1px solid #D5D8EA;
}

.side-container {
    padding-left: 2vh;
    padding-right: 2vh;
}

.sub-choice {
    font-size: 16px;
    padding-left: 10vh;
}

.choice-separation {
    margin-top: 10px;
}