// .container {
//   width: 832px;
//   height: 505px;
//   border-radius: 10px;
//   overflow: hidden;
// }

.container img {

  object-fit: cover; /* Pour que l'image s'adapte tout en conservant ses proportions */
  width: 832px;
  height: 505px;
  border-radius: 10px;
}
